extends layout

block content
  h1= title
  - const tree = ['valley_type','size','age']
  - let results;
  - let items=results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
   function dispatch(path){ 
      window.location.href=path 
    }
    
  div(class='container-fluid')
    div(class='row m-1')
      each results, index in tree
        - let destination = `dispatch(\"/valley/update?id=${results._id}\")` 
        div(class='col-sm-2' onclick='buy('+index+')') #{results}
        button( class="btn btn-primary ml-1", onclick= destination) Update 