extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let valleyid = toShow._id 
    - let valleyvalley_type = toShow.valley_type 
    - let valleyage = toShow.age 
    - let valleysize = toShow.size 
    - let actionid = "/resource/valley/" + valleyid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='valleyAttr mr-3') valley ID is: 
        div #{valleyid} 
      div.row 
        div(class='valleyAttr mr-3') valley Type is: 
        div #{valleyvalley_type} 
      div.row 
        div(class='valleyAttr mr-3') valley Size is: 
        div #{valleysize} 
      div.row 
        div(class='valleyAttr mr-3') valley age is: 
        div #{valleyage} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the valley collection 
      window.location.href='/valley' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/valleys' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }